# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Local outputs
*_index.json
ocr_index.json
output_index.json

# Virtual envs
.venv/
venv/

# Build artifacts
dist/
build/
*.egg-info/

# Test cache
.pytest_cache/
